<div class="row missionCard">
  <h4>הוספת משימה חדשה</h4>
</div>
  <div class="missionCardForm" dir="rtl">
    <form class="simple-form">
      <div class="row contentCard">
          <input type="text" class="validate col s9 nameMission" ng-model="newMission.name" placeholder="שם המשימה" style="margin-bottom: 0px;"></input>
          <span class="col s3" for="icon_prefix">{{missionColumnNames.name}}</span>
          <!-- <input type="text" class="validate col s9 dropdown-mission" ng-model="newMission.type" placeholder="בחר סוג משימה" data-activates='typesMissions'></input> -->
          <!-- <span class="col s3" for="icon_prefix">{{missionColumnNames.type}}</span> -->
          <select class="input-field col s9" ng-model="newMission.type">
              <option value="nothing" disabled selected>בחר סוג משימה</option>
              <option value="location" va>נ.צ</option>
              <option value="up">עלה</option>
              <option value="down">רד</option>
              <option value="goHome">חזור הביתה</option>
              <option value="smartWatch">שעון חכם</option>
          </select>
          <h1>{{newMission.type}}</h1>
          <input type="text" class="validate col s9" ng-model="newMission.X"></input>
          <span class="col s3" for="icon_prefix" style="font-size: -webkit-xxx-large;text-align: center;">X</span>
          <input type="text" class="validate col s9" ng-model="newMission.Y"></input>
          <span class="col s3" for="icon_prefix" style="font-size: -webkit-xxx-large;text-align: center;">Y</span>
          <input type="text" class="validate col s9" ng-model="newMission.Z"></input>
          <span class="col s3" for="icon_prefix" style="font-size: -webkit-xxx-large;text-align: center;">Z</span>
          <input type="text" class="validate col s9" ng-model="newMission.drone"></input>
          <span class="col s3" for="icon_prefix"><i class="medium material-icons">airplanemode_active</i></span>
          <input type="text" class="validate col s9" ng-model="newMission.description" placeholder="פרט על המשימה.."></input>
          <span class="col s3" for="icon_prefix"><i class="medium material-icons">create</i></span>
          <input type="text" class="col s9 shira" ng-model="newMission.date | date:'dd/MM/yyyy'" placeholder="תאריך"></input>
          <span class="col s3"><i class="medium material-icons">date_range</i></span>

          <div ng-if="newMission.type == smartWatch">
            <input type="text" class="validate col s9" ng-model="newMission.X" ></input>
            <span class="col s3" for="icon_prefix" style="font-size: -webkit-xxx-large;text-align: center;">X</span>
            <input type="text" class="validate col s9" ng-model="newMission.X" ></input>
            <span class="col s3" for="icon_prefix" style="font-size: -webkit-xxx-large;text-align: center;">X</span>
          </div>

          <i class="medium material-icons left addMissinIcon"  type="submit" ng-click="addMission(newMission)">check_circle</i>

      </div>
    </form> 
  </div>  